---
import Layout from '@/layouts/Layout.astro';
import About from '@/components/sections/About.astro';
import Education from '@/components/sections/Education.astro';
import Experience from '@/components/sections/Experience.astro';
import Hero from '@/components/sections/Hero.astro';
import KeyboardManager from '@/components/KeyboardManager.astro';
import Projects from '@/components/sections/Projects.astro';
import Skills from '@/components/sections/Skills.astro';
import { basics } from '@cv';
import Certificates from '@/components/sections/Certificates.astro';
import Languajes from '@/components/sections/Languajes.astro';

const { name, label } = basics;
---

<Layout title=`Portafolio de ${name} - ${label}`>
	<>
		<Hero />
		<About />
		<Experience />
		<Education />
		<Projects />
		<Certificates />
		<Skills />
		<Languajes />
	</main>
	<KeyboardManager />
</Layout>

<style>
	main {
		padding: 4rem;
		margin: auto;
		width: 100%;
	}	

</style>
